<h3>Franchisee Application at Xavoc.com</h3>
<p>Hi Gowrav, Khushbu,<br/>
	Here is another Franchisee application from xavoc.com
</p>
<p>
	Name: <?your_name?>not-filled<?/your_name?><br/>
	company_name: <?company_name?>not-filled<?/company_name?><br/>
	contact_number: <?contact_number?>not-filled<?/contact_number?><br/>
	email_id: <?email_id?>not-filled<?/email_id?><br/>
	address: <?address?>not-filled<?/address?><br/>
	city: <?city?>not-filled<?/city?><br/>
	state: <?state?>not-filled<?/state?><br/>
	country: <?country?>not-filled<?/country?><br/>
	area_popullation: <?area_popullation?>not-filled<?/area_popullation?><br/>
	current_area_premises: <?current_area_premises?>not-filled<?/current_area_premises?><br/>
	number_of_lab: <?number_of_lab?>not-filled<?/number_of_lab?><br/>
	number of computer system: <?number_of_computer_system?>not-filled<?/number_of_computer_system?><br/>
	average intake of students per year: <?average_intake_of_students_per_year?>not-filled<?/average_intake_of_students_per_year?><br/>
</p>
</p>