<p class='text-error text-justify'>Xavoc International is managed by a team that is working in this industry since 1999. Not being another IT company, Xavoc leads the community. Apart from its custom application development for various clients, Xavoc has laid base for world wide programmers also. The tools developed by Xavoc are very popular like xCIDeveloper. Xavoc also has contributed to various world famous PHP frameworks like agiletoolkit UK and CI.</p>
<br/>
<p class='text-info text-justify'><strong>By looking at various Technical and Branding abilities of Xavoc, Agile Toolkit LTd, UK has collaborated with Xavoc exclusively to expand its framework in India and Singapore.</strong></p>

<br/>

<p class='text-error text-justify'>In the past the Xavoc team has provided services to various  big business giants like Sangam Group Of Industries Bhilwara, Suzuki Textiles Bhilwara, Mewar Orthopaedic Hospital Udaipur, Bhawani Credit Co-Operative Society, Bhavishya Group etc.</p>

<br/>

<p class="lead text-justify">In the present Xavoc is being approached by International Market for their development and branding. Agile toolkit ltd UK is one of them. To fulfill the market needs Xavoc has huge requirement of professionals in IT sector. This includes Technical Marketing as well Technical Developers. To get the quality, Xavoc has decided to re-Launch its Training division to handle this requirement. While at the same time, the new trainees are not being provided with regular useless classes, Xavoc has decided to train them by working professionals.</p>


