		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1>Agiletoolkit Courses</h1>
			<p>We feel pleasure offering you UK based certificate courses in php, MySQL and agiletoolkit as we have the colleboration with one of the best framework company in the world Agiletoolkit Ltd. UK.  Xavoc Internaional is exclusively authorised  under the licence by Agiletoolkit Ltd., UK for the certification and promotion of agiletoolkit in India and Singapore.</p>
			<p><?apply_entrance?><a class="btn btn-primary btn-large">Apply For Entrance &raquo;</a><?/apply_entrance?></p>
		</div>
		
		<h3>Course High Lights</h3>

		<ul>
			<li>Learn professional object oriented approach</li>
			<li>Out of the box database management skills</li>
			<li>Expert support from Xavoc (India) and Agiletoolkit (UK)</li>
			<li>Learn to right Add-Ons</li>
			<li>Special on-line lectures from Agiletoolkit Ltd. UK.</li>
			<li>Includes the technologies like ORM, MVC, Ajax, Dsql, JQuery, Add-Ons, Hooks, Multiple API, OAuth etc.</li>
			<li>Fully compatibility with PaaS PHP cloud.</li>
			<li>Final on-line examination from UK to get Quality controlled education.</li>
		</ul>

		<div class='atk-row'>
			<div class='span6'>Rajsthan - Udaipur / Bhilwara / Chittorgarh</div>
			<div class='span6'>Gujarat - Ahmedabad / Surat / Baroda</div>
			<div class='span6'>Madhya Pradesh - Bhopal / Indore</div>

		</div>