<div class="container">
	<ul class="thumbnails">
		<li class="span4">
			<a class="thumbnail" href="#">
				<img src="<?template?>img/c.jpg<?/template?>" alt="">
			</a>
		</li>
		<li class="span8">
			<h3>Contact the Future at:</h3>
	<h1>XAVOC INTERNATIONAL</h1>
	<address>
		<blockquote>18/436, Gaytri Marg, Kanji ka hata, <br/> Dhabai Ji ka wada, <br/> Udaipur (Rajasthan) -313001 (INDIA)</blockquote>
		
		<blockquote>
			Email: info@xavoc.com <br/>

			Sales: +91 9783966631 <br/>
			Management: +91 9782300801 <br/>
			Technical: +91 8875191258 <br/>

		</blockquote>

	
	</address>
		</li>
		
	</ul>
	<?$Content?>
</div>