<div id="<?$_name?>">
	<?$Content?>
	<div class="row">
		<div class="span6">
			<H2>Outline</H2>
		</div>
		<div class="span6">
			<H2>Jobs @ Xavoc</H2>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="alert alert-info">
				<strong>Professional</strong> Object Oriented Approach.
			</div>
			<div class="alert alert-error">
				<strong>Out Of The Box</strong> Database Management Skills.
			</div>
			<div class="alert alert-warning">
				<strong>Expert</strong> Support from Xavoc International (India) and Agile Toolkit  Ltd. (UK).
			</div>
			<div class="alert alert-success">
				<strong>Oppertunity</strong> To work on Live projects of World's Leading Companies.
			</div>
			<div class="alert alert-info">
				<strong>Write Your Own</strong> Add-Ons and extend the functionality.
			</div>
			<div class="alert alert-error">
				<strong>Special</strong> online lectures from Experts from Agile Tech UK and Xavoc India.
			</div>
			<div class="alert alert-warning">
				<strong>Certification</strong> by online Exam from UK.
			</div>
			<div class="alert alert-success">
				<strong>Professional</strong> Object Oriented Approach.
			</div>
			
		</div>
		<div class="span6"><?$jobs?></div>
	</div>
</div>